## Example function:
## Owned by Buyer -- Buyer makes an offer to Seller (buyerOffer)
## function addSeller(address sellerAddress, uint retractInput) external payable onlyOwner activeContract {
##     require(seller == address(0), '** Seller has already been added to this contract **');
##     require(msg.value > 0, '** Offer price must be above zero **');
##     seller = sellerAddress;
##     buyerOffer = msg.value;
##     retractCriteria = block.timestamp + retractInput;
##     }

function addSeller(address sellerAddress {{ TIME_TO_RETRACT }}) external payable {{ WHO_CAN_ADD }} activeContract {
    require(seller == address(0), '** Seller has already been added to this contract **');
    require(msg.value > 0, '** Offer price must be above zero **');
    seller = sellerAddress;
    buyerOffer = msg.value;
    {{ SET_RETRACTION_TIME }};
    }
