function arbitratorOk(address sellerApproved) external activeContract {
    require(arbitrator != address(0), '** Arbitrator has not been added to this contract **');
    require(msg.sender == arbitrator, '** Only Arbitrator can Ok Seller pay **');
    require(seller == sellerApproved, '** Seller does not match contract records **');
    executionReleased = true;
}
