    constructor() {
        {{role}} = msg.sender;
        owner = msg.sender;
        contractExecuted = false;
        executionReleased = false;
        autoCancelMet = block.timestamp + {{time_to_auto_cancel}};
    }
