function payout() external {
    {{ criteria }}
    Sellers_table storage seller = sellers[msg.sender];
    require(seller.criteria <= block.timestamp, 'criteria not met');
    require(seller.amount > 0, 'only the proper seller can be paid');
    require(seller.paid == false, 'seller already paid');
    seller.paid = true;
    payable(msg.sender).transfer(seller.amount);
}