## Example of owner retract:
## function ownerRetract() external onlyOwner {
##     require(contractExecuted == false, '** This contract has already been executed **');
##     require(retractCriteria <= block.timestamp, '** Criteria for retract has not been met yet **');
##     contractExecuted = true;
##     payable(buyer).transfer(buyerOffer); <-- seller would never put any money into contract so if seller retracts, nothing happens for seller
## }

function {{ ROLE_RETRACT }} () external {{ WHO_CAN_RETRACT }} {
    require(contractExecuted == false, '** This contract has already been executed **');
    require(retractCriteria <= block.timestamp, '** Criteria for retract has not been met yet **');
    contractExecuted = true;

    if (buyer != address(0)) {
        payable(buyer).transfer(buyerOffer);    
    }

}
